<h1 style="margin: 20px;">Producto</h1>

<mat-card style="margin: 20px;">
  <mat-card-title style="margin: 20px;">
    <button mat-raised-button color="primary" (click)="nuevoProducto()">
      <mat-icon matListItemIcon>add</mat-icon>Nuevo Producto
    </button>
  </mat-card-title>

  <mat-divider></mat-divider> <br />

  <mat-card-content>

    <loading-spinner [isLoading]="isLoading" />

    <app-filter-input
      [showFilter]="showFilter"
      (filtroAplicado)="aplicarFiltroTabla($event)">
    </app-filter-input>

    <app-material-table
    *ngIf="!isLoading"
    [showNoDataRow]="true"
    [data]="dataListaProducto.data"
    [columns]="columnasTabla"
    [config]="tableConfig"
    [isProductTable]="true"
    [currentFilterValue]="currentFilterValue"
    [actionButtons]="actions"
    (action)="onAction($event)">
  </app-material-table>
  </mat-card-content>
</mat-card>
