.campos-formulario{
  display: flex;
  align-items: flex-start;
}

.btn-buscar{
  width: 150px;
  margin-top: 10px;
  margin-bottom:  15px;
}

.input-filter{
  width: 100px;
  font-size: 14px;
}

.mat-mdc-form-field  {
  width: 240px;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 18px;
    margin: 10px 20px 0 !important;
  }

  mat-card {
    margin: 10px !important;
  }

  .campos-formulario{
    flex-direction: column;
    flex-wrap: wrap;
  }

  .mat-mdc-form-field  {
    width: 100%;
    margin-right: 10px;
  }

  .btn-buscar{
    margin-top: 0;
  }
}
