/* Structure */
.table-container {
  position: relative;
}

/* Hacer la tabla responsiva */
.table-responsive {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

table{
  width: 100%;
  font-size: 14px;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-mdc-form-field  {
  width: 100%;
  margin-right: 10px;
}

/* Estilo para toda la fila */
.no-data-row {
  color: #972631;
}

/* Estilo para las celdas específicas */
.no-data-cell {
  font-weight: bold;
  font-size: 14px;
  padding: 16px;
}

.mat-column-acciones {
  width: 150px;
}

/* Ajustar tamaños de columna en pantallas pequeñas */
@media (max-width: 768px) {
  table {
    font-size: 12px;
  }

  .mat-column-acciones {
    width: 100px;
  }

  .mat-mdc-paginator-range-actions.mat-mdc-paginator-range-label {
    margin: 0!important;
  }

  mat-paginator {
    padding: 10px;
  }
}


