<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Sistema Ventas</h1>

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span style="flex: 1 1 auto;"></span>

    <mat-icon *ngIf="isMobile" [matMenuTriggerFor]="userMenu">account_circle</mat-icon>
    <span *ngIf="!isMobile" class="title-label">
      {{ correoUsuario }} | {{ rolUsuario }}
    </span>

    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container style="height: 90vh;">
  <mat-sidenav #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile && isSidebarOpen"
    style="width: 250px;">
    <mat-nav-list>
      <mat-list-item *ngFor="let menu of listaMenus" [routerLink]="menu.url" (click)="onMenuItemClick()">
        <mat-icon matListItemIcon>{{ menu.icono }}</mat-icon>
        <div mat-line>{{ menu.nombre }}</div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="flex-grow: 1;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modal de información de usuario para dispositivos móviles -->
<mat-menu #userMenu="matMenu">
  <div mat-menu-item class="menu-text">
    <mat-icon>account_circle</mat-icon>
    {{ correoUsuario }}
  </div>
  <div mat-menu-item class="menu-text">
    <mat-icon>email</mat-icon>
    {{ rolUsuario }}
  </div>
</mat-menu>
