<h1 style="margin: 20px 20px 20px 40px;">Historial Venta</h1>

<mat-card style="margin: 20px;">
  <mat-card-content>
    <form [formGroup]="formBusqueda" (ngSubmit)="buscarVentas()">

      <div class="campos-formulario">
        <!-- Selector de búsqueda -->
        <mat-form-field appearance="fill">
          <mat-label>Buscar por</mat-label>
          <mat-select formControlName="buscarPor">
            <mat-option *ngFor="let item of opcionesBusqueda" [value]="item.value">
              {{ item.descripcion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Campo para número de orden -->
        <mat-form-field *ngIf="formBusqueda.get('buscarPor')?.value === 'numeroVenta'">
          <mat-label>Numero Orden</mat-label>
          <input matInput formControlName="numeroVenta" autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <!-- Campo para rango de fechas -->
        <mat-form-field *ngIf="formBusqueda.get('buscarPor')?.value === 'fecha'">
          <mat-label>Fecha Inicio</mat-label>
          <input matInput formControlName="fechaInicio" [matDatepicker]="pickerInicio" autocomplete="off" placeholder="Seleccione fecha">
          <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="formBusqueda.get('buscarPor')?.value === 'fecha'">
          <mat-label>Fecha Fin</mat-label>
          <input matInput formControlName="fechaFin" [matDatepicker]="pickerFin" autocomplete="off" placeholder="Seleccione fecha">
          <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
          <mat-datepicker #pickerFin></mat-datepicker>
        </mat-form-field>

        <!-- Botón de búsqueda -->
        <button mat-raised-button color="primary"
          [disabled]="formBusqueda.invalid"
          type="submit"
          class="btn-buscar">
          <mat-icon>search</mat-icon> Buscar
        </button>

      </div>
    </form>

    <mat-divider></mat-divider> <br />

    <app-material-table
      [showNoDataRow]="true"
      [data]="datosListaVenta.data"
      [columns]="columnasTabla"
      [config]="tableConfig"
      [actionButtons]="actions"
      (action)="onAction($event)"
    />

  </mat-card-content>
</mat-card>
