<h1 style="margin: 20px;">Nueva Venta</h1>

<mat-card style="margin: 20px;">

  <mat-card-content>
    <form [formGroup]="formProductoVenta" (ngSubmit)="agregarProductoVenta()">

      <div class="campos-formulario">
        <mat-form-field>
          <mat-label>Producto</mat-label>
          <input matInput type="text" placeholder="Buscar..." [matAutocomplete]="auto" formControlName="producto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="productoParaVenta($event)"
            [displayWith]="mostrarProducto">
            <mat-option *ngFor="let option of listaProductoFiltro" [value]="option">
              {{ option.nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field style="width: 60%; margin-left: 30px;">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" formControlName="cantidad" [min]="1">
        </mat-form-field>

        <button mat-raised-button color="primary" class="mat-btn" [disabled]="formProductoVenta.invalid">
          <mat-icon matListItemIcon>add</mat-icon> Agregar
        </button>
      </div>
    </form>

    <div class="campos-formulario">
      <mat-form-field style="margin-left: 50%">
        <mat-label>Tipo de pago</mat-label>
        <mat-select [(value)]="tipoPagoPorDefecto">
          <mat-option value="Efectivo">Efectivo</mat-option>
          <mat-option value="Tarjeta">Tarjeta</mat-option>
          <mat-option value="Yape">Yape</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="accent" class="mat-btn">
        Total: {{ totalPagar | currency: '&#83;&#47;&#46;' }}
      </button>

    </div>

    <app-material-table
      [data]="datosDetalleVenta.data"
      [columns]="columnasTabla"
      [config]="tableConfig"
      [actionButtons]="actions"
      (action)="onAction($event)"
    ></app-material-table>

    <button mat-raised-button color="primary" class="btn-registrar"
      [disabled]="bloquearBoton === true || listaProductosVenta.length < 1" (click)="registrarVenta()">
      <mat-icon matListItemIcon>new_label</mat-icon> Registrar
    </button>

  </mat-card-content>

</mat-card>
