/* En tu archivo de estilos globales o en el CSS del componente */
.campos-formulario{
  display: flex;
  align-items: flex-start;
  padding: 10px;
}

.mat-btn{
  width: 50%;
  height: 40px;
  margin-top: 10px;
}

.btn-registrar {
  width: 200px;
  margin-top: 15px;
  float: right;
}

.input-filter{
  width: 100px;
  font-size: 14px;
}

.mat-mdc-form-field  {
  width: 100%;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .campos-formulario{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 30px;
  }

  .mat-btn{
    width: 100%;
  }

  .mat-mdc-form-field{
    margin-left: 0px !important;
  }

}
